body {
  font-family: Arial;
  margin: 0;
  background: #f8f8f8;
}

header {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: #fc8019;
  color: white;
}

input, select, button {
  padding: 10px;
  margin: 8px;
  width: calc(100% - 16px);
}

button {
  background: #fc8019;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.cart {
  position: sticky;
  bottom: 0;
  background: white;
  padding: 10px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}

.hidden { display: none; }

.dark {
  background: #121212;
  color: white;
}

.dark .card,
.dark .modal-content {
  background: #1f1f1f;
}
